.titulo-principal{
    padding-right: 10px;
}

#fondo{
    width:auto;
    height: auto;
}

.principal{
    background: #e0139c;
    padding: 0px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#mision{
    font-size: 30px;
    text-align: center;
}

ul{
    display:inline;
    vertical-align:auto;
    width: 50%;
    margin-right: 15%;
}

    


